*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{
background:#fff8fc;
color:#333;
}


/* Navbar */

.navbar-brand{
color:#ff4fa3 !important;
}


.nav-link{
font-weight:600;
margin-left:10px;
}


.nav-link:hover{
color:#ff4fa3 !important;
}



/* Hero */

.hero{

padding:100px 20px;

background:linear-gradient(135deg,#ff9acb,#8ed8ff);

color:white;

border-radius:0 0 40px 40px;

}


.hero h1{

font-size:60px;
font-weight:800;

}


.hero p{

font-size:22px;
}





/* Search */

#search{

border-radius:30px;
padding:15px 25px;

}





/* Cards */

.card{

border:none;

border-radius:25px;

box-shadow:0 10px 25px rgba(0,0,0,0.1);

transition:0.3s;

background:white;

}


.card:hover{

transform:translateY(-10px);

}



.card h3{

color:#ff4fa3;

}





.btn-primary{

background:#ff4fa3;

border:none;

border-radius:25px;

}



.btn-primary:hover{

background:#e9368d;

}



.btn-danger{

border-radius:25px;

}





/* Cart */

#cart{

background:white;

padding:30px;

border-radius:25px;

box-shadow:0 10px 25px rgba(0,0,0,0.08);

}


#cart li{

margin:10px;

padding:10px;

}





/* About Contact */

#about,
#contact{

background:#ffffff;

padding:30px;

border-radius:25px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}





footer{

background:#222;

color:white;

}





/* Mobile */

@media(max-width:768px){

.hero h1{

font-size:40px;

}

}
